.form {
    max-width: 800px;
    margin: 0 auto;
}
.form__title {
    text-align: center;
}
.form__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.form__item {
    margin-bottom: 20px;
}
.form__question {
    display: flex;
    align-items: center;
    gap: 6px;

}
.form__question-num {
    text-decoration: underline;
    margin: 0;
}
.form__question-text {
    font-size: 18px;

}
.form__answer {
    width: 300px;

}
.form__answer-item {
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 10px 4px;
    border: 1px solid #ccc;
}
.form__answer-select {
    margin-right: 10px;

}
.form__answer-text {
    font-size: 18x;
}
.form__button {
    text-align: center;
    margin: 40px 0 0;
}
.form__next {
    font-size: 18px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 8px 40px;
    font-weight: 600;
    cursor: pointer;
}
